---
import Layout from "../layouts/Layout.astro";
import BenefitsRow from "../components/home/BenefitsRow.astro";
---

<Layout title="Sítovka.net | Marketingová Agentura">
  <main>
    <!-- We will add the Hero here later -->

    <!-- Benefits Row -->
    <BenefitsRow />

    <!-- Other sections will follow -->
  </main>
</Layout>
