---
import Layout from "../layouts/Layout.astro";
import AboutUs from "../components/home/AboutUs.astro";
import ServicesSection from "../components/home/ServicesSection.astro";
---

<Layout title="Sítovka.net | Marketingová Agentura">
  <main>
    <!-- We will add the Hero here later -->

    <!-- About Us Section (Benefits + Bio) -->
    <AboutUs />

    <!-- Services Section (Co umíme) -->
    <ServicesSection />

    <!-- Other sections will follow -->
  </main>
</Layout>
