---
import BenefitCard from "./BenefitCard.astro";

interface Props {
  benefits: Array<{
    iconId: "target" | "board" | "light";
    titleHashtag: string;
    titleRemainder: string;
    description: string;
  }>;
}

const { benefits } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-y-12 md:gap-x-22.5">
  {
    benefits.map((benefit) => (
      <BenefitCard
        iconId={benefit.iconId}
        hashtag={benefit.titleHashtag}
        title={benefit.titleRemainder}
        description={benefit.description}
      />
    ))
  }
</div>
