---
import { HeroAccordion } from "./hero/HeroAccordion";

interface Props {
  data: {
    cards: any[];
  };
}

const { data } = Astro.props;
const { cards = [] } = data;
---

<section
  class="w-full bg-white relative pb-12 overflow-hidden z-30 mx-6 sm:mx-0"
  data-sb-object-id="src/content/pages/homepage.json"
>
  <div class="mx-auto h-full">
    <HeroAccordion client:load cards={cards} />
  </div>
</section>
