---
import { LogoCarousel } from "./logo-slider/LogoCarousel";
import { MotionLayoutWrapper } from "./MotionLayoutWrapper";
import HashtagIcon from "@/assets/icons/hashtag.svg?react";
import { PositionOverlay } from "@/components/ui/PositionOverlay";

interface Props {
  data: {
    logos: any[];
  };
}

const { data } = Astro.props;

if (!data || !data.logos || data.logos.length === 0) {
  return null;
}

const reactLogos = data.logos.map((item: any) => ({
  src: item.logo.src,
  alt: item.name || "",
  name: item.name || "",
  href: item.href || "",
  width: item.logo.width,
  height: item.logo.height,
}));
---

<section
  class="bg-white rounded-[60px] relative overflow-visible reveal-card"
  data-delay="100"
  data-sb-object-id="src/content/pages/homepage.json"
>
  <MotionLayoutWrapper>
    <div class="container z-1 relative bg-white">
      <LogoCarousel client:visible logos={reactLogos} />
    </div>
  </MotionLayoutWrapper>

  <PositionOverlay bottom="-45px" className="z-0">
    <HashtagIcon className="w-21 h-auto text-brand-green" />
  </PositionOverlay>
</section>
